* {
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color: #D4F6FF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 45vh;
    border-radius: 20px;
    background-color: #C6E7FF;
    padding: 1%;
    row-gap: 5%;
}

.list {
    font-size: 25px;
}

.button {
width: 5vw;
height: 5.5vh;
background-color: #608BC1;
border: none;
border-radius: 10px;
font-size: 15px;
}

input {
    height: 5vh;
    border-radius: 10px;
}